/* Inicialização CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variáveis e Global (Dark Theme) */
:root {
    --cor-fundo-principal: #0a192f;
    --cor-texto-principal: #ccd6f6; 
    --cor-destaque: #64ffda; 
    --cor-secundaria: #8892b0; 
}

body {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    padding-top: 80px;
}

a {
    color: var(--cor-destaque);
    text-decoration: none;
}

/* ESTILIZAÇÃO NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(10, 25, 47, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-destaque);
}
.nav-links a {
    margin: 0 25px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
    color: var(--cor-texto-principal);
}
.nav-links a:hover {
    color: var(--cor-destaque);
}