/* Inicialização CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variáveis e Global (Dark Theme) */
:root {
    --cor-fundo-principal: #0a192f;
    --cor-texto-principal: #ccd6f6; 
    --cor-destaque: #64ffda; 
    --cor-secundaria: #8892b0; 
}

body {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    padding-top: 80px;
}

a {
    color: var(--cor-destaque);
    text-decoration: none;
}